.progress-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
}

.circle-bg {
    transition: stroke 0.3s;
}

.circle-fg {
    transition: stroke-dashoffset 0.35s;
}

.progress-text {
    position: absolute;
    font-size: 24px;
    color: #333;
}
